node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.local
.idea
.vscode/*
!.vscode/extensions.json
android/app/build
android/build
android/.gradle
android/local.properties
android/app/release
ios/App/build
ios/App/Pods
ios/App/Podfile.lock
ios/App/output
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
